/* media queries */
@media screen and (min-width:500px){
    alert not supported
}
/* setting background attributes */
body {
   background-image: url("image.1.jpg");
   /* background-repeat: no-repeat;
   background-attachment: fixed; */
   background-size: 100% 100%;
   overflow: hidden;
}
/* setting player attributes */
.player {
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 10px;
    /* width: 100px; */
    position: absolute;
    bottom: 215;
    left: 60;
    /* transform-style: preserve-3d; */
    /* transform: perspective(500px) rotateX(30deg); */
    }

#scoreContainer{
    /* border: 1px solid black; */
    text-align: center;
    text-decoration: solid;
    text-decoration-color: crimson;
    font-weight: 400;
    font-family: fantasy ;
    text-underline-position: below;
}
#restart{
    text-align: right;
}
/* setting hurdle attributes */
.hurdle {
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 10px;
    position: absolute;
    bottom: 185;
    left: 500;
    
}
/* hidding game over till hurdle and player collides */
.gameOver{
    visibility: hidden;
    text-align: center;
    font-family: cursive ;
    color: crimson;
    font-size:xxx-large
}
.gameWon{
    visibility: hidden;
    text-align: center;
    font-family: cursive ;
    color: crimson;
    font-size:xxx-large
}
/* #restart{
    visibility: hidden;
} */

/* creating player animation */
.animatePlayer{
    animation: player;
    animation-duration:1.2s ; 
    animation-timing-function:linear;
}
/* creating annimation for hurdle , by making it infinite it will keep moving */
.animateDragon{
    animation: animateDragon;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    animation-direction: alternate;
}

/* player animation  */
@keyframes player{
    0%{
        bottom: 208;
    }
    50%{
         bottom: 500;
    }
    100%{
          bottom: 208;
          transform: rotate(360deg); 

    }
}

/* hurdle's animation */
@keyframes animateDragon{
    0%{
        left: 100vw
    }
    100%{
        left: -10vw;
    }
    
}